<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/all.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/index.css}" />
</head>
<body>

	<div class="container base">
		<div class="row base-row">
			<div class="col-3 menu">
			<div class="logo mb-5 text-center text-light bg-dark pt-1 pb-1">
			<h4>KD Cinemas</h4>
			</div>
				<ul class="list">
					<li><a th:href="@{/}"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a></li>
					<li><a th:classappend="${menu == 'register'} ? 'text-dark' : ' '" th:href="@{/register}"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Register</a></li>
					<li><a th:href="@{/loginForm}"><i class="fas fa-users"></i>&nbsp;&nbsp;Login</a></li>
					<li><a href=""><i class="fas fa-address-card"></i>&nbsp;&nbsp;About
							us</a></li>
					<li><a href=""><i class="fas fa-phone-square-alt"></i>&nbsp;&nbsp;Contact
							us</a></li>
				</ul>
			</div>
			<div class="col-9 register-form">
				<div class="login">
					<form action="screening" method="post">
					<div class="login-head">
						<h3>Admin</h3>
						</div>
						<div class="form-group">
							<label for="exampleInputName"> Movie Name</label> <input type="text"
								class="form-control" id="exampleInputName"
								placeholder="Enter Movie name" name="movieName">

						</div>
						
						<div class="form-group">
							<label for="exampleInputName"> Movie Image</label> <input type="text"
								class="form-control" id="exampleInputName"
								placeholder="upload movie image" name="image">

						</div>

						<div class="form-group">
							<label for="exampleInputScreen">Screen</label> <input
								type="text" class="form-control" id="exampleInputScreen"
								name="screen" placeholder="Enter Screen no">

						</div>

						<div class="form-group">
							<label for="exampleInputPassword1">Movie Details</label> <input
								type="text" class="form-control" id="exampleInputPassword1"
								placeholder="Enter movie details" name="movieDetails">
						</div>

						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>


			</div>
		</div>

	</div>
</body>
</html>